@use '@/styles/variables' as v;

.captureButtonWrapper {
   position: relative;
   display: flex;

   button {
      width: 100%;
   }
   flex-direction: column;
   align-items: center;

   .errorLabel {
      margin-top: 4px;
      padding: 2px 6px;
      font-size: 12px;
      color: v.$main-white;
      background-color: v.$main-red;
      border-radius: 4px;
      white-space: nowrap;
      display: none;
      position: absolute;

      &.visible {
         display: block;
         bottom: -25;
      }
   }
}
