$main-black: #0c0c0d;
$main-white: #ffffff;
$main-green: #2ecc71;
$main-yellow: #f1c40f;
$light-orange: #e67e22;
$main-orange: #e74c3c;
$main-red: #dc2626;
$light-red: #ef4444;
$main-purple: #4f46e5;
$light-gray: #e2e8f0;
$main-gray: #cbd5e1;
$light-purple: #6366f1;

$font-stack: 'Inter', sans-serif;
