@use 'variables' as v;
@use 'mixins' as m;

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   max-width: 100%;
   overflow-x: hidden;
   background: v.$main-black;
   font-family: v.$font-stack;
}

a {
   color: inherit;
   text-decoration: none;
}
