@use '@/styles/mixins' as globals;

.container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   justify-content: center;
   align-items: start;
   gap: 20px;
   padding: 20px;
   width: 100%;
   max-width: 1000px;
   margin: 0px auto;
}
