@use '@/styles/mixins' as globals;
@use '@/styles/variables' as v;

.header {
   margin-top: 100px;
   color: v.$main-white;
   text-align: center;
   margin-bottom: 10px;
}

.spiritsNamesHeaderList {
   @include globals.flex-row-center;
   gap: 10px;
   margin-top: 15px;
   font-size: 1.25rem;
}
