@use '@/styles/mixins' as globals;
@use '@/styles/variables' as v;

.spiritCard {
   @include globals.flex-column;
   color: v.$main-white;
   border-radius: 12px;
   padding: 20px;
   position: relative;
   background: linear-gradient(145deg, #1a1a1a, #222);
   gap: 20px;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
   border: 1px solid transparent;

   transition: border 0.3s ease;

   &:hover {
      border: 1px solid v.$light-purple;
   }

   &.-captured {
      background: #80808012;
      border: 1px solid transparent;
   }

   .spiritName {
      @include globals.text-20;
   }

   .spiritDetails {
      @include globals.flex-column;
      @include globals.text-16;
      font-weight: 600;
      gap: 8px;

      span {
         font-weight: 100;
         opacity: 0.5;
      }
   }
}
